Babel==2.7.0
Django==4.2.11 #edited
django-bootstrap4==23.1 # edited
django-ckeditor==6.7 # changed
django-crispy-forms==2.1 # edited
django-js-asset==2.1 #changed
django-localflavor==4.0 # edited
django-phonenumber-field==7.2.0 #edited
mysqlclient==2.2.1 #edited
phonenumberslite==8.13.20 # edited
Pillow==10.1.0 # changed
python-stdnum==1.19 #changed
pytz==2023.3
reportlab==4.0.4
django-extensions==3.2.3
Werkzeug==3.0.2
pyOpenSSL==24.1.0
