Babel==2.12.1
Django==4.2.11
django-bootstrap4==23.1
django-ckeditor==6.7
django-crispy-forms==2.1 
django-js-asset==2.1
django-localflavor==4.0 
django-phonenumber-field==7.2.0
mysqlclient==2.2.4
phonenumberslite==8.13.20
Pillow==10.1.0
python-stdnum==1.19
pytz==2023.3
reportlab==4.0.4
django-extensions==3.2.3
Werkzeug==2.2.3
pyOpenSSL==24.1.0
